@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply bg-background text-[#1C1E22] text-[18px] leading-relaxed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  body {
    @apply !bg-background !text-[#1C1E22] text-[18px] leading-relaxed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.img-masking {
  top: 0
}

.img-masking,.img-masking-half {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: linear-gradient(180deg,hsla(0,0%,85%,0),rgba(0,0,0,.75))
}

.img-masking-half {
  height: 65%
}

.bottom-masking {
  background-image: linear-gradient(180deg,hsla(0,0%,85%,0),rgba(0,0,0,.75))
}

#carousel-slides .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  @apply bg-surface-primary
}

#carousel-slides .swiper-pagination-fraction,
#carousel-slides .swiper-pagination-custom,
#carousel-slides .swiper-horizontal > .swiper-pagination-bullets,
#carousel-slides .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 40px
}



